<h1>Welcome to Blogun!</h1>
<p>
  If you want to make a post and be part of this community, please sign in or sign up using one
  of our services:
</p>

<div id="auth">
  <%= link_to image_tag("facebook_64.png"), auth_facebook_path %>
  <%= link_to image_tag("twitter_64.png"), auth_twitter_path %>
  <div id="right">
    <p id="auth_links">
      If you do not have an account in any of these social networks, you can use our simple
      <%= link_to "sign in", user_session_path %> or
      <%= link_to "sign up", new_user_registration_path %> forms.
    </p>
  </div>
</div>
<br />
<h2>Latests posts:</h2>
<%= render partial: "posts/post", collection: @posts, as: :post %>
<%= will_paginate @posts, class: 'paginator' %>
