<%= div_for post do %>
    <h2><%= post.title %></h2>
    <p><%= post.content.truncate(250, separator: ' ') %></p>
    <div class="num_comments">
      <b><%= "Comments (#{ post.comments.count})"%></b>
    </div>
    <div class="index_actions">
      <%= link_to 'Show', [post.user, post] %>
      <%= link_to 'Edit', edit_user_post_path(post.user, post) %>
      <%= link_to 'Destroy', [post.user, post], method: :delete, remote: true, 
	  data: { confirm: 'Are you sure?' } %>
    </div>
    <hr />
<% end %>
